# Functions

A functions takes input parameters, execute a series of computations with those inputs and returns a final output value. Functions give us an efficient way to save and reuse a block of code over and over again with different input value. There are built-in functions in the standard Pyhton library and we can define our own functions.

## Built-in Functions

The standard Python library has a collection of [built-in functions](https://docs.python.org/3/library/functions.html) ready to use. We have already seen a few of these functions in previous sections such as `type()`, `print()` and `sum()`. THe following is a list of built-in functions that we'll use most often:

| **Function** | **Description** |
| -----------: | :-------------- |
| `print(object)` | print `object` to output |
| `type(object` | return the type of `object` |
| `abs(x)` | return the absolute value of `x` (or modulus if `x` is complex) |
| `int(x)` | return the integer constructed from float `x` by truncating decimal |
| `len(sequence)` | return the length of the `sequence` |
| `sum(sequence)` | return the sum of the entries of `sequence` |
| `max(sequence)` | return the maximum value in `sequence` |
| `min(sequence)` | return the minimum value in `sequence` |
| `range(a,b,step)` | return the range object of integers from `a` to `b` (exclusively) by `step` |
| `list(sequence)` | return a list constructed from `sequence` |
| `sorted(sequence)` | return the sorted list from the items in `sequence` |
| `reversed(sequence)` | return the reversed iterator object from the items in `sequence` |
| `enumerate(sequence)` | return the enumerate object constructed from `sequence` |
| `zip(a,b)` | return an iterator that aggregates items from squences `a` and `b` |


Use the function `print()` to display values:

In [1]:
pi = 3.14159
print(pi)

3.14159

Use the function `type()` to see the datatype of a value:

In [3]:
type(pi)

float

Use the function `abs()` to compute the absolute value of a real number:

In [4]:
x = -2019
abs(x)

2019

Or compute the magnitude of a complex number:

In [5]:
z = 3 - 4j
abs(z)

5.0

Use the functions `int()` to truncate a float into an int:

In [6]:
pi = 3.14159
int(pi)

3

The function truncate floats always towards 0:

In [7]:
c = -1.2345
int(c)

-1

Use the function `len()` to compute the length of a sequence:

In [8]:
primes = [2,3,5,7,11,13,17,19,23,29,31,37,41]
len(primes)

13

Use the function `sum()` to compute the sum of a sequence:

In [9]:
one_to_hundred =range(1,101)
sum(one_to_hundred)

5050

Use the functions `max()` and `min()` to compute the maximum and minimum value in a sequence:

In [10]:
random = [8,27,3,7,6,14,28,19]
print(max(random))
print(min(random))

28
3

Use the function `list()` to convert a sequence (such as a range or a tuple) into a list:

In [11]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

Use the function `sorted()` to sort a sequence:

In [12]:
sorted_random = sorted(random)
print(random)
print(sorted_random)

[8, 27, 3, 7, 6, 14, 28, 19]
[3, 6, 7, 8, 14, 19, 27, 28]

Use the function `reversed()` to reverse the order of a sequence:

In [14]:
reversed_random = list(reversed(random))
print(random)
print(reversed_random)

[8, 27, 3, 7, 6, 14, 28, 19]
[19, 28, 14, 6, 7, 3, 27, 8]

Use the function `enumerate()` to enumerate a sequence:

In [15]:
squares = [n**2 for n in range(0,6)]
print(squares)
enum_squares = list(enumerate(squares))
print(enum_squares)

[0, 1, 4, 9, 16, 25]
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

Use the function `zip()` to combine sequences into a list of pairs:

In [16]:
random_1 = [-2,4,0,5]
random_2 = [7,-1,9,3]
random_zip = list(zip(random_1, random_2))
print(random_zip)

[(-2, 7), (4, -1), (0, 9), (5, 3)]

Notice in the last three example `reversed()`, `enumerate()` and `zip()` we use the function `list()` to create a list from the output of each function. This is because these function return iterator objects (similiar to range objects) which is only yield values when explicitly told to do so.